:host {
  /* position: relative; */
  /* display: inline-block; */
  /* width: 99.9%;
  height: 99.9%; */
}

.chart {
  position: relative;
  width: 99.9%;
  height: 99.9%;
}

/* ::ng-deep .chart p-chart div, */
::ng-deep .chart p-chart div {
  display: block;
  width: 99.99%;
  /* height: 99.99%; */
}

.chart__info {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.chart__department {
  color: #CFD3D6;
}

.chart__percents {
  font-size: 24px;
  font-weight: 700;
}

