<aside>
  <ul class="list-reset sidebar__list">
    <li class="sidebar__item">
      <p-button icon="pi pi-user" class="sidebar__btn sidebar__btn_1"></p-button>
    </li>
    <li class="sidebar__item">
      <p-button icon="pi pi-briefcase" class="sidebar__btn sidebar__btn_2"></p-button>
    </li>
    <li class="sidebar__item">
      <p-button icon="pi pi-file" class="sidebar__btn sidebar__btn_3"></p-button>
    </li>
    <li class="sidebar__item">
      <p-button icon="pi pi-th-large" class="sidebar__btn sidebar__btn_4"></p-button>
    </li>
    <li class="sidebar__item">
      <p-button icon="pi pi-home" class="sidebar__btn sidebar__btn_5"></p-button>
    </li>
  </ul>
</aside>
